<h1>Create a new watchlist</h1>
<div class="container">
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.submit "Add List", class: "btn btn-primary" %>
  <% end %>
</div>
