<div class="w-100 h-100 d-flex flex-column justify-content-around align-items-center">
  <div style="max-width: 500px;" class="w-100">
    <h1>Create a new watchlist</h1>
    <%= simple_form_for @list do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <section class="movie-selection mt-5">
        <p>Add Movies (at least 5): </p>
        <div class="dropdown">
          <div class="input-group mb-3" data-bs-toggle="dropdown">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
          <ul class="dropdown-menu w-100">
            <li><p class="dropdown-item">Sample title</p></li>
            <li><p class="dropdown-item">Sample title</p></li>
          </ul>
        </div>
        <p>Selected movies:</p>
      </section>
      <%= f.submit "Add List", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div></div>
</div>
