<div class="w-100 h-100 d-flex flex-column justify-content-around align-items-center">
  <div style="max-width: 500px;" class="w-100">
    <h1>Create a new watchlist</h1>
    <%= simple_form_for @list do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <section class="movie-selection mt-5">
        <p>Add Movies (at least 5): </p>
        <div class="dropdown" data-controller="search-movie">
          <div class="input-group mb-3" data-bs-toggle="dropdown">
            <input type="text" class="form-control" placeholder="Movie title" aria-label="Movie title" data-search-movie-target="input" data-action="keyup->search-movie#search">
            <button class="btn btn-outline-secondary" type="button" data-action="click->search-movie#search"><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
          <ul class="dropdown-menu w-100" data-search-movie-target="list">
            <li><p class="dropdown-item">Sample title</p></li>
            <li><p class="dropdown-item">Sample title</p></li>
          </ul>
        </div>
        <p>Selected movies:</p>
      </section>
      <%= f.submit "Add List", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div></div>
</div>
