<h1><%= @list.name %></h1>
<p class="opacity-75"><%= @list.description %></p>
<hr>
<p>Sort by:</p>
<hr>
<div class="movies-container">
  <% @list.movies.each do |movie| %>
    <img src="<%= movie.poster_url %>" alt="" class="movie-poster">
  <% end %>
</div>
<%= button_to edit_list_path @list, class: "btn btn-primary rounded-3 mt-2 text-white w-100", method: :get do %>
  <i class="fa-solid fa-plus"></i><span> Create Watchlist</span>
<% end %>
