<h1><%= @list.name %></h1>
<p class="opacity-75 m-0"><%= @list.description %></p>
<%= link_to edit_list_path(@list), class: "btn bg-transparent border opacity-75 rounded-3 my-2 text-white" do %>
  <i class="fa-solid fa-pen-to-square"></i> Edit Watchlist
<% end %>
<hr>
<p>Sort by:</p>
<hr>
<div class="movies-container d-flex flex-wrap justify-content-around">
  <% @list.movies.each do |movie| %>
    <img src="<%= movie.poster_url %>" alt="" class="movie-poster">
  <% end %>
</div>
