<div class="list-card d-flex flex-wrap p-2">
  <div class="poster-group d-flex p-0 me-3 mb-2">
    <% list.first_5.each do |movie| %>
      <img src="<%= movie.poster_url %>" alt="" class="border border-secondary rounded-3">
    <% end %>
  </div>
  <div class="detail p-0 list-details">
    <h5><strong><%= list.name %></strong></h5>
    <p class="list-description">
      <%= list.description.length > 130 ? list.description[0,130] + "..." : list.description %>
    </p>
  </div>
</div>
