.movies-container {
  img.movie-poster {
    &:hover {
      transform: translateY(-1rem);
    }
  }

  .movie-info {
    -webkit-box-shadow:inset 0px 0px 20px 4px #0d0f13;
    box-shadow:inset 0px 0px 20px 4px #0d0f13;
  }
}

@media (max-width: 576px) {
  .movie-info img{
    display: none;
  }
}
