<div class="banner">
  <div class="banner-background-image">
    <!-- div class="overlay"> -->
  </div>
  <div class="banner-text my-auto container">
    <h4>Welcome to</h4>
    <h1>Watchlists</h1>
    <p>Discover, create, and share your ultimate movie watchlists – save others’ lists, review them, and build your own collection in one seamless experience.</p>
  </div>
</div>
