.main form {
  // color: white !important;

  // input, textarea {
  //   background: transparent !important;
  //   color: white !important;
  // }

  [type="submit"] {
    // border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    background-color: $primary;
    color: white !important;
    // &:hover {
    //   background-color: #2C343F !important;
    // }
    &:hover {
      background-color: #e94b7d !important;
    }

    margin: 1rem 0 2rem;
  }
}

.form-text {
  color: white;
}
