.poster-group {
  height: 108px;
  min-width: 232px;

  img {
    height: 100%;
    object-fit: cover;
    transition: .4s ease;
    width: 72px;

    &:not(:first-child) {
      margin-left: -2rem;
    }

    &:hover {
      & ~ img {
        transform: translateX(2rem);
      }
    }
  }
}

.list-details {
  max-width: calc(100% - 248px);
  min-width: 240px;
}

@media (min-width: 769px){
  .poster-group {
    height: 144px;
    width: 293px;

    img {
      width: 97px;

      &:not(:first-child) {
        margin-left: -3rem;
      }

      &:hover {
        & ~ img {
          transform: translateX(3rem);
        }
      }
    }
  }

  .list-details {
    max-width: calc(100% - 309px);
    min-width: 300px;
  }
}
