.sidebar {
  background-color: #2C343F;
  height: calc(100vh - 3rem);
  min-width: 230px;
  max-width: 300px;

  li i {
    inline-size: 2rem;
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul .active {
    background-color: #556678;
  }

  li:hover {
    background-color: #14171C;
  }

  h6 {
    color: rgb(175, 175, 175);
  }

  h2 {
    // color: #C0074C;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .sidebar-content {
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .sidebar-username {
    overflow-x: hidden;
  }
}

@media (max-width: 782.5px) {
  .sidebar {
    max-width: fit-content;
    min-width: fit-content;
    text-align: center;
    padding: .5rem !important;

    span {
      display: none;
    }

    .dropdown {
      p, i {
        display: none;
      }

      img {
        margin: 0 !important;
      }
    }
  }
}

@media (max-width: 576px) {
  .sidebar {
    height: calc(100vh - 2rem);
  }
}
